/*basic setting*/

body{margin: 0; background-color:#ffeee6;}
.hide{position:absolute; left:-5000px;}
header ul{list-style: none;}
header a:link{text-decoration: none; }
header li a:hover {color:orange;}
.menu-slide a li:hover {color:orange;}
li a {color: #6c6962;}
.menu-slide-ul li a {color:rgba(255,255,255,0.7);}

/* side menu */


.side-wrap{position:absolute;right:100px; top:60px;}
#hambug {display: none;}
.menu-slide {padding-top:100px; display: none;}
.menu-slide-li{color:rgba(255,255,255,0.7);line-height: 70px; text-align: left;}
.menu-slide-li:after{content:url(image/arrow.png) ; margin-left: 10px; opacity: 0;}
.menu-slide-li:hover:after{content: url(image/arrow.png);position:relative;   top:2px; margin-left:10px; opacity: 0.6; transition:1s}


/*test*/




/* header Design */

.bamm{
    background-position:top center;
    position: absolute;  z-index: -1; height:100%;width:100%;
    background-size: cover;
    background-image: url("image/bamm.jpg") ;
    background-repeat: no-repeat;
}

header{position:relative; text-align: center; width:100%; height:400px;}
header h1 {position:absolute; left: 53px; top:16px}
header h1 a{display:block; color:transparent;width:100px;height:100px; background: url(image/logo2.jpg) no-repeat; z-index: 2;}

header .menu1 {padding-top: 16px;}
header .menu1 ul{margin-top:0;}
header .menu1 li{display:inline-block; font-family: 'Libre Baskerville', serif;}
header .menu1 li a{display:block; font-size:17px; height:81px; padding: 20px 35px; line-height: 82px;}


header .menu2 {position:absolute; right:53px; top:20px;}
header .menu2 li {float: left;}
header .menu2 li a{display: block;height:81px; padding:0 20px; line-height: 81px;}
header .menu2 li:last-child a {padding-right:0}
.menu2 {font-size:13px;}

/* top bar */
.top-bar{height:60px; background-color:rgba(114,10,10,0.9); text-align: center;  }
.top-bar ul{ margin:0; height:100px; font-size:20px; color:rgba(255,255,255,0.7)}
.top-bar li{display: inline-block; margin-left: 20px; margin-top:18px; font-family: 'Gaegu', cursive;
font-family: 'Nanum Gothic Coding', monospace;}

.top-bar li:hover{color:orange; cursor: pointer;}


/*map setting*/
.map_wrap, .map_wrap * {text-align: center; margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap { margin-left: 50%; transform: translateX(-50%); width:700px;height:400px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}



/*footer*/

.foot {position:relative; display:block; width:100%; margin-top:300px; height:100px;background-color:rgba(0,0,0,0.8); text-align: center; bottom:0px;}
.foot .footer{color:rgba(255,255,255,0.8);} 
.footer h2{color : rgba(255,255,255,0.3);}
.fotright{background-color: firebrick; opacity: 0.45; color:white; text-align: right;padding-right:100px;}


@media (max-width : 1070px){
    header .menu2 {display: none;}
}
@media (max-width : 1030px){
    .bannel{padding-top:20px;transition-property: padding;transition-duration: 1s;}
}
@media (max-width : 852px){
    .bannel {padding:0; margin-top:130px;}
    header .menu1 li{position:absolute; left:-5000px;}
    .bannel li a {width:30px;}
    .bannel ul{bottom:-30px;}
    
    /*hambuger button*/
    
    input[id="hambug"] + div label:hover{animation-name:dance; animation-duration: 1s; animation-direction: alternate; animation-iteration-count: infinite;}
    @keyframes dance{
        0%{transform: rotate(5deg);}
        100%{transform: rotate(-5deg);}
    }
    input[id="hambug"] + div label{position:relative; width:40px; height:30px; display:block; cursor:pointer;z-index:2;}
    input[id="hambug"] + div label span{
        position:absolute; width:100%; height:4px;border-radius: 30px; background-color:rgba(255,255,255,0.7); display: block; transition:all .35s;
    }
    
    
    input[id="hambug"] + div label span:nth-child(1){
        top:0;
    }
    input[id="hambug"] + div label span:nth-child(2){
        top:50%;
        transform: translateY(-50%);
    }
    input[id="hambug"] + div label span:nth-child(3){
        bottom:0;
    }
    input[id="hambug"]:checked + div label span:nth-child(1){
        top:50%;
        transform: translateY(-50%) rotate(45deg);
    }
    input[id="hambug"]:checked + div label span:nth-child(2){
       opacity: 0;
    }
    input[id="hambug"]:checked + div label span:nth-child(3){
        top:50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    /*menu slide */
    
    
    .menu-slide{
        display: block; position:fixed; width:300px;height:100%;background-color:rgba(0,0,0,0.6); top:0; right:-300px; z-index: 1;transition:all 1s;
    }
    input[id="hambug"]:checked + div label{
        position:fixed;
    }
     
    input[id="hambug"]:checked + div + div{
        right:0; 
    }
    .style{margin:0;transition:1s;}
    .case ul li  {display: inline-block; width: 400px; height:560px; overflow: hidden; transition-property: width,height;transition:1s; }
    
    .case a .cap{width:400px; height:560px;}
    .case a:hover .cap{width:400px; height:560px; font-size:20px;}
    .case a .cap span{top:43%}
}